#firstId {color: yellow;}
#secondId {color: blue;}
p {color: blueviolet; border: 1px solid green; text-decoration: underline;}
.class-1 {color: rgb(35, 22, 100);
font-size: 70px;}
.img-1 {height: 400px; width: 400px;}